.button-start {    
    border: 0;
    display: block;
    margin: 10px auto;
    padding: 10px 40px;
    background: $primary-orange;
    border-radius: 4px;
    font-size: 24px;
    color: $grey-0;
}