// COLORS
$primary-purple: #9027b0;
$primary-green: #39B54A;
$primary-orange: #f78323;

$secundary-purple: #7b2196;
$secundary-red: #ff4444;
$secundary-yellow: #faba20;
$secundary-blue: #268aff;

$grey-0: #ffffff;
$grey-1: #e1e1e1;
$grey-2: #dedede;
$grey-3: #bbbbbb;
$grey-4: #898989;
$grey-5: #6c6c6c;
$grey-6: #4a4a4a;
$grey-7: #f5f5f5;

// HOVER
$primary-orange-hover: #E06000;