// PAYMENT

.payment-bar {
    background: $grey-0;
}

.payment-header {
    font-size: 14px;
    display: block;
    background: $grey-0;
    position: relative;
    border-bottom: 1px solid $grey-8;
    padding: 5px;
    height: 45px;
}

.payment-header .title {
    text-align: center;
    font-size: 14px;
    padding-top: 6px;
    padding-left: 15px;
}

.payment-title {
    font-size: 14px;
    float: left;
    padding-top: 5px;
    padding-left: 10px;
}

.payment-content {
    background: $grey-0;
    padding: 10px;
}

.payment-wrapper {
    margin-bottom: 5px;
}

.payment-button {
    background: $primary-green;
    float: right;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    width: 100px;
    height: 30px;
    vertical-align: middle;
}

.payment-price {
    font-size: 18px;
    font-weight: bold;
}

.payment-rules {
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    font-style: italic;
    color: $grey-8;
}

// CHARGE
.charge-icon {
    position: absolute;
    top: 0;
    right: 85px;
    height: 35px;
    width: 35px;
    border: 0;
    border-radius: 100%;
    text-indent: -9999px;
    overflow: hidden;
    background: $primary-orange url("/dist/images/payment.png") center no-repeat;
}

.charge-box {
    background: $grey-0;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 40px;
    color: $grey-6;
    z-index: 9999;
}

.charge-header {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid $grey-8;
}

.charge-header .charge-arrow {
    position: absolute;
    top: -10px;
    right: 92px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $grey-0 transparent;
    text-indent: -9999px;
}

.charge-title {
    text-align: center;
    font-size: 14px;
}

.charge-content {
    padding: 10px;
}

.charge-value {
    font-size: 14px;
    font-weight: bold;
}

.charge-input-text {
    padding: 6px;
    font-size: 12px;
    border: 0;
    border: 1px solid $grey-8;
    border-radius: 2px;
    margin-right: 10px;
}

.button-charge {
    background: $primary-green;
    float: right;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    width: 100px;
    height: 30px;
    vertical-align: middle;
}
