// HACKATHON - CHAT PAYMENT

@import "helpers";
@import "colors";
@import "loader";
@import "buttons";
@import "payment";

// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus {outline:none;}

body,
html {
  height: 100%;
}

body {
  font-family: Helvetica, Arial;
  font-size: 14px;
  color: #333;
  background: $grey-2;
}

// MAIN CONTENT
.message-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.message-item {
    display: block;
    width: 100%;
    overflow: hidden;
}

.header {
  padding: 20px;
  text-align: center;
  background: $primary-purple;
  width: 100%;
}

.header-title {
  color: #fff;
  font-weight: normal;
}

// CHAT
.chat-box {
  background: $grey-4;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  border: 1px solid $grey-4;
}

.chat-header {
  background: $primary-orange;
  padding: 10px;
  color: $grey-0;
}

.icon {
  cursor: pointer;
  transition: 0.5s;
}

.icon:hover {
  background-color: $primary-orange-hover;
}

.chat-icon {
    color: #333;
    position: absolute;
    top: 0;
    left: 10px;
    height: 35px;
    width: 35px;
    border: 0;
    text-indent: -9999px;
    overflow: hidden;
    background: transparent url("/dist/images/chat-icon.png") center no-repeat;
}

.options-icon {
    color: #333;
    position: absolute;
    top: 0;
    right: 45px;
    height: 35px;
    width: 35px;
    border: 0;
    text-indent: -9999px;
    overflow: hidden;
    background: transparent url("/dist/images/chat-options.png") center no-repeat;
}

.close-icon {
    color: #333;
    position: absolute;
    top: 0;
    right: 10px;
    height: 35px;
    width: 35px;
    border: 0;
    text-indent: -9999px;
    overflow: hidden;
    background: transparent url("/dist/images/chat-close.png") center no-repeat;
}

.chat-name-user {
  font-size: 14px;
  color: $grey-0;
  padding-left: 40px;
}

.chat-message {
  overflow-y: auto;
  height: 250px;
  background: #e0e0e0 url('/dist/images/chat-bkg.png') repeat;
}

.chat-input-box {
  background: $grey-3;
  padding: 5px;
  width: 100%;
}

.chat-input-wrapper {
  position: relative;
}

.chat-input-text {
  border: 0;
  padding: 15px;
  width: 100%;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid $grey-4;
}

.chat-input-submit {
  position: absolute;
  top: 7px;
  right: 20px;
  height: 35px;
  width: 35px;
  border: 0;
  border-radius: 100%;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  background: $primary-orange url("/dist/images/send.png") center no-repeat;
  transition: 0.5s;
}

.chat-input-submit:hover {
  background-color: $primary-orange-hover;
  opacity: 0.8;
}

// MESSAGES
.message-bubble-wrapper {
  margin: 10px 10px 0px 10px;
  border-radius: 4px;
  padding: 10px 30px;
  background: #ff974b;
  position: relative;
  color: $grey-0;
}

.message-bubble-wrapper.receiver {
  float: left;
  text-align: left;
  background: #E9967A;
}
.message-bubble-wrapper.sender {
  float: right;
  text-align: right;
}

@media (max-width: 480px) {

  .chat-box {
    max-width: 480px;
  }

}
