// HACKATHON - CHAT PAYMENT

@import "colors";
@import "buttons";

// HELPERS
.hide {
  display: none;
}

// RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial;
  font-size: 14px;
  color: #333;
  background: $grey-2;
}

// MAIN CONTENT
.main-content {
  padding: 20px;
}

.message-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.message-item {
    display: block;
    width: 100%;
    overflow: hidden;
}

.header {
  padding: 20px;
  text-align: center;
  background: $primary-purple;
  width: 100%;
}

.header-title {
  color: #fff;
  font-weight: normal;
}

// CHAT
.chat-box {
  background: $grey-4;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  height: 300px;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}

.chat-header {
  background: #ffffff;
  padding: 10px 20px;
}

.chat-name-user {
  font-size: 14px;
  color: #grey-0;
}

.chat-message-list {
  overflow-y: auto;
  max-height: 400px;
}

.chat-input-box {
  background: $grey-3;
  padding: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.chat-input-wrapper {
  position: relative;
}

.chat-input-text {
  border: 0;
  padding: 10px 15px;
  width: 100%;
  font-size: 14px;
}

.chat-input-submit {
  position: absolute;
  border: 0;
  right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: $primary-orange;
  text-indent: -9999px;
}

// MESSAGES

.message-bubble-wrapper {
  float: right;
  margin: 10px;
  border-radius: 4px;
  padding: 10px 30px;
  background: $grey-2;
}

@media (max-width: 450px) {

}

@media (max-width: 1200px) {

}
